{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Farmer Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <div>👨‍🌾 Farmer Dashboard</div>
    <div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div class="dashboard">
    <h2 class="page-title">My Crops</h2>

    <a href="{% url 'add_crop' %}">
        <button class="btn">➕ Add New Crop</button>
    </a>

    <div class="container">
        {% for crop in crops %}
            <div class="card">
                <div class="card-body">
                    <h3>{{ crop.name }}</h3>
                    <p class="price">₹ {{ crop.price }}</p>
                    <p>Quantity: {{ crop.quantity }}</p>
                </div>
            </div>
        {% empty %}
            <p>No crops added yet</p>
        {% endfor %}
    </div>
</div>

</body>
</html>
