{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AgroControl</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <div><strong>🌾 AgroControl</strong></div>
    <div>
        {% if user.is_authenticated %}
            {{ user.username }}
            {% if user.profile.role == 'buyer' %}
                <a href="{% url 'view_cart' %}">Cart</a>
                <a href="{% url 'buyer_orders' %}">My Orders</a>
            {% endif %}           
            {% if user.profile.role == 'farmer' %}
                <a href="{% url 'farmer_dashboard' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>

<div style="text-align:center; margin: 20px;">
    <form method="get">
        <input type="text" name="search" placeholder="Search crop..." 
               value="{{ request.GET.search }}"
               style="padding:8px; width:200px;">

        <input type="number" name="max_price" placeholder="Max price"
               value="{{ request.GET.max_price }}"
               style="padding:8px; width:120px;">
        
        <input type="number" name="quantity" value="1" min="1"
                placeholder="{{ crop.unit }}"
                style="width:60px; padding:6px; margin-bottom:6px;">


        <button class="btn" style="width:120px;">Search</button>
    </form>
</div>

<h1 class="page-title">Fresh Crops Direct from Farmers</h1>

<div class="container">
{% for crop in crops %}
    <div class="card">
        <img src="{{ crop.image.url }}">
        <div class="card-body">
            <h3>{{ crop.name }}</h3>
            <p class="price">₹ {{ crop.price }} / {{ crop.unit }}</p>
            <p>{{ crop.description|truncatewords:10 }}</p>
            <a href="{% url 'add_to_cart' crop.id %}">
                <button class="btn">Add to Cart</button>
            </a>
        </div>
    </div>
{% empty %}
    <p>No crops available</p>
{% endfor %}
</div>

</body>
</html>
