{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AgroControl</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <div><strong>🌾 AgroControl</strong></div>
    <div>
        {% if user.is_authenticated %}
            {{ user.username }}
            {% if user.profile.role == 'farmer' %}
                <a href="{% url 'farmer_dashboard' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>

<h1 class="page-title">Fresh Crops Direct from Farmers</h1>

<div class="container">
{% for crop in crops %}
    <div class="card">
        <img src="{{ crop.image.url }}">
        <div class="card-body">
            <h3>{{ crop.name }}</h3>
            <p class="price">₹ {{ crop.price }}</p>
            <p>{{ crop.description|truncatewords:10 }}</p>
            <a href="{% url 'buy_crop' crop.id %}">
                <button class="btn">Buy</button>
            </a>
        </div>
    </div>
{% empty %}
    <p>No crops available</p>
{% endfor %}
</div>

</body>
</html>
